.propertyFeature:before{
  /*content: "•";*/
  padding-right: 8px;
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 30.33%;
  padding: 10px;
  height: 225px;
}

.agent-other-properties:hover{
  text-decoration-thickness: 2px;
}

.agent-logo{
  display: block;
  flex: 0 0 auto;
  line-height: 0;
  margin-left: 16px;
  text-align: right;
  min-width: 135px;
  min-height: 117px;
}